// import { UserInputError, AuthenticationError } from 'apollo-server-micro';
import Crud from '~lib/Crud';
import {{camelCase name}}Model from './{{camelCase name}}.model';

class {{pascalCase name}}Service extends Crud {}

const {{camelCase name}}Crud = new {{pascalCase name}}Service({{camelCase name}}Model);

export default {{camelCase name}}Crud;
