@font-face {
    font-family: 'SutonnyMJ';
    src: url('/SutonnyMJ.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amar Bangla';
    src: url('/AmarBangla-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SutonnyMJ';
    src: url('/SutonnyMJ-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SutonnyMJ';
    src: url('/SutonnyMJ-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SutonnyOMJ';
    src: url('/SutonnyOMJ.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SutonnyMJ';
    src: url('/SutonnyMJ-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
