import React from 'react';
{{#if wantPropTypes}}
import PropTypes from 'prop-types';
{{/if}}

const {{ properCase name }} = ({

}) => {

  return (
    <>

    </>
  );
};

{{#if wantPropTypes}}
{{ properCase name }}.propTypes = {

};

// {{ properCase name }}.defaultProps = {

// };
{{/if}}

export default {{ properCase name }};
